<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <userSettings>
    <Roaming>
      <Bluegrams.Application.Properties.Settings>
        <Culture></Culture>
      </Bluegrams.Application.Properties.Settings>
      <Colora.Properties.Settings>
        <CurrentColor>#FFBCDDEE</CurrentColor>
        <LatestColors>
          <ArrayOfColor xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </LatestColors>
      </Colora.Properties.Settings>
      <Bluegrams.Application.CustomSettings>
        <Topmost>False</Topmost>
      </Bluegrams.Application.CustomSettings>
    </Roaming>
    <PC_Kitdanai>
      <Bluegrams.Application.Properties.Settings>
        <Updated>True</Updated>
      </Bluegrams.Application.Properties.Settings>
      <Colora.Properties.Settings>
        <ScreenPickerZoom>3</ScreenPickerZoom>
        <AdvancedColorsVisible>True</AdvancedColorsVisible>
        <RGBRangeFloat>False</RGBRangeFloat>
        <ClipboardAutoCopy>False</ClipboardAutoCopy>
        <ScreenPickerVisible>True</ScreenPickerVisible>
        <IconBarVisible>True</IconBarVisible>
        <PaletteWindowSnap>True</PaletteWindowSnap>
        <ColorSamplingMode>Single</ColorSamplingMode>
        <ColorHistoryVisible>True</ColorHistoryVisible>
        <ColorHistoryLength>10</ColorHistoryLength>
        <GlobalShortcut>Ctrl+Alt+C</GlobalShortcut>
      </Colora.Properties.Settings>
      <Bluegrams.Application.CustomSettings>
        <Width>NaN</Width>
        <Height>NaN</Height>
        <Left>0</Left>
        <Top>0</Top>
        <WindowState>Normal</WindowState>
      </Bluegrams.Application.CustomSettings>
    </PC_Kitdanai>
  </userSettings>
</configuration>